
  <header class="p-3 bg-dark text-white fixed-top">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="/img/moeda.png" alt="" width="50px">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li><a href="/" class="nav-link px-2 text-white">INVESTIMENTOS</a></li>
              <li><a href="#" class="nav-link px-2 text-white">OFERTAS</a></li>
              <li><a href="#" class="nav-link px-2 text-white">QUEM SOMOS</a></li>
          </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
          </form>
          <div class="text-end">
            <a  href="/home/login" class="btn btn-outline-light me-2">Login</a>
            <a  href="/home/cadastro" class="btn btn-warning">Cadastrar</a>
          </div>
        </div>
      </div>
    </nav>
  </header>