<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes</title>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
      </head>
<body>
    <%- include('../partials/header') %>
        <main>
            <br>
            <section class="secao1">
                <div id="texto1">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing</h2>
                    <p>LOREM IPSUM!</p>
                </div>
                <div id="img1">
                    <img src="/img/predio2.jpg" alt="...">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div id="texto2">
                    <a type="button" class="btn btn-success" href="/home/investir">INVESTIR</a>
                </div>
            </section>
            <section class="secao2">
                <div id="texto3">
                    <h3>Lorem</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iure iusto aperiam et, est soluta id facere cum rem dicta nobis explicabo incidunt voluptatum fuga molestiae repellat ullam accusamus earum?
                       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus dignissimos voluptas ab sunt deleniti totam nesciunt id corporis voluptates accusantium, hic nihil magnam eveniet illo harum eaque. Nihil, iure harum. 
                    </p>
                </div>
                <div class="d-flex" style="height: 200px;">
                    <div class="vr"></div>
                  </div>
                <div id="texto4">
                    <p>lorem ipsum</p>
                    <li class="list-group-item">valor da cota:<b> R$ 10.000,00</b></li>
                      <li class="list-group-item">Participação: <b> 0.0192% pro conta</b></li>
                      <li class="list-group-item">Pagamento:<b> Ao final</b>
                </div>
                <div id="texto5">
                    <p>Sector</p>
                    <span>Lorem idsum</span>
                </div>
            </section>
            <section class="secao3">
                <h3>Lorem iosum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore odio error odit modi similique impedit, quas magni placeat quaerat in consequuntur natus omnis totam fuga, eius quidem veritatis, consequatur iure.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore odio error odit modi similique impedit, quas magni placeat quaerat in consequuntur natus omnis totam fuga, eius quidem veritatis, consequatur iure.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore odio error odit modi similique impedit, quas magni placeat quaerat in consequuntur natus omnis totam fuga, eius quidem veritatis, consequatur iure.</p>
            </section>
            <br>  
        </main>
    

    <%- include('../partials/footer') %>
</body>
</html>